<div class="task-show-wrapper">
  <h1 class="task-top"><%= "「#{@task.content}」の詳細ページ" %></h1>
  <div class="show-contents">
    <div class="show-content">
      <%= @task.content %>
      <div class="show-task-user">
        投稿者：<%= @task.user.nickname %>
      </div>
    </div>
    <ul class="show-edit-lists">
      <% if user_signed_in? && current_user.id == @task.user_id %>
        <li><%= link_to '編集', edit_task_path(@task), class: "show-edit-list" %></li>
        <li><%= link_to "削除", task_path(@task.id), data: { turbo_method: :delete }, class: "show-edit-list" %></li>
      <% end %>
    </ul>
  </div> 
  <ul class="memos_lists">
    <% @memos.each do |memo| %>
      <li class="memos_list">
        <div class="memo-content">
          <%= memo.memo %>
          <% if user_signed_in? && current_user.id == memo.user_id %>
            <span><%= image_tag 'arrow_top.png', id: "memo-pull-down-lists" %></span>
          <% end %>
          <ul class="memo-hidden" id=<%= memo.id%>>
            <li><%= link_to "メモを編集", edit_task_memo_path(@task, memo), class: "memo_edit" %></li>
            <li><%= link_to "メモを削除", task_memo_path(@task, memo), data: { turbo_method: :delete }, class: "memo_destroy" %></li>
          </ul>
        </div>
        <%= link_to "　投稿者：(#{memo.user.nickname})", "#", class: "memo_user" %>
        
      </li>
    <% end %>
  </ul>

  <div class="flash-message">
    <% flash.each do |type, message| %>
      <div class="alert alert-<%= type %>">
        <%= message %>
      </div>
    <% end %>
  </div>

  <% if user_signed_in? %>
    <%= render 'shared/memo_form' %>
  <% end %>
  <%= render 'shared/back_btn' %>
</div>