<% if user_signed_in? %>
  <%= form_with model: [@task, @memo], local: true do |f|%>

    <%= render 'shared/error_messages', model: f.object %>

    <div class="memo_field">
      <%= f.label :memo, "メモを追加(50文字まで入力可)" %><br />
      <%= f.text_field :memo, class: "input-default", id:"memo_comment", autofocus: true, placeholder:"メモの内容を入力", maxlength: 50 %>
    </div>
    <div class="actions">
      <%= f.submit "メモを追加", class: :form__btn  %>
    </div>
  <% end %> 
<% end %> 