<ul>
  <% @tasks.each do |task| %>
    <div class="task-contents">
      <%= link_to task_path(task.id) do %>
        <div class="task-content">
          <div class="task">
            <%= task.content %>
          </div>
          <div class="task-user">
            投稿者：<%= task.user.nickname %>
          </div>
        </div>
      <% end %>
      <div class="sub-contents">
        <% if user_signed_in? && current_user.id == task.user_id %>
          <div class="completed-btn" id=<%= task.id%>>
            完了
          </div>
        <% end %>
        <div class="sub-content">
          <%= l task.created_at %>
          <% if user_signed_in? %>
            <span><%= image_tag 'arrow_top.png', id: "pull-down-lists" %></span>
          <% end %>
          <%# プルダウン部分 %>
          <ul class="hidden" id=<%= task.id%>>
            <li><%= link_to "メモを追加する", task_path(task.id) %></li>
            <% if user_signed_in? && current_user.id == task.user_id %>
              <li><%= link_to 'タスクを編集', edit_task_path(task) %></li>
              <li><%= link_to "タスクを削除", task_path(task.id), data: { turbo_method: :delete } %></li>
            <% end %>
          </ul>
          <%# プルダウン部分 %>
        </div>
      </div>
    </div>
  <% end %>
</ul>
